@using System.Security.Claims;
@{
    ViewData["Title"] = "AdminAnasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Anasayfa</h1>

<style>
    .uyari {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
    }

    .my-box {
        background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;
        border: 2px solid aliceblue;
        box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
        height: 100%;
    }
</style>


<div class="text-center">
    <h1 class="display-4">HRS'ye Hoşgeldiniz Admin - @User.FindFirst("Isim")?.Value @User.FindFirst("Soyisim")?.Value!!  </h1>


</div>




<div class="row text-center">
    <div class="col-12 col-md-3 mt-3 ">
        <div class="my-box">
            <h2> Yetki </h2>
            <span>Admin</span>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-3 ">
        <div class="my-box">
            <h2>Sistemde Kayıtlı Hasta ve Doktor Sayısı</h2>
            <span>@ViewBag.hastavedoktor</span>
        </div>
    </div>

    <div class="col-12 col-md-3 mt-3 ">
        <div class="my-box">
            <h2>Tarih ve Saat</h2>
            <span id="tarihSaat"></span>
        </div>
    </div>
</div>

<div class="row text-center mt-5">

    <div class="col-12 col-md-6 mt-2">
        <div class="my-box">
            <div class="row">

                <div class="col-3">
                    <img style="width:100%;" src="/icons8-user-96.png" />
                </div>
                <div class="col-3 text-start">
                    <table class="table table-borderless">
                        <tr>
                            <td>Yetki</td>
                            <td>:</td>
                            <td>Admin</td>
                        </tr>
                        <tr>
                            <td>T.C</td>
                            <td>:</td>
                            <td>@User.FindFirst(ClaimTypes.NameIdentifier)?.Value</td>
                        </tr>
                        <tr>
                            <td>İsim</td>
                            <td>:</td>
                            <td>
                                @User.FindFirst("Isim").Value
                            </td>
                        </tr>
                        <tr>
                            <td>Soyisim</td>
                            <td>:</td>
                            <td>@User.FindFirst("Soyisim").Value</td>
                        </tr>
                    </table>

                </div>
                
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mt-2">
        <div class="my-box">
            <h1>Doktor Düzenlemeleri İçin Tıklayınız!</h1>
            <a asp-action="DoktorDuzen" class="btn btn-success">Doktor Düzenleme Sayfası</a>

        </div>

    </div>



</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>


    function tarihSaat() {
        var content = document.getElementById("tarihSaat");
        var day = new Date();
        content.textContent = day.toLocaleString();
    }

    setInterval(tarihSaat, 1000);

    tarihSaat();
</script>



